body{background-color: #40E0D0
height:auto
display: flex
 flex-direction: column}

main{
flex: auto
display: flex
flex-direction: row}

article{
flex:2
overflow-y: auto}

aside{flex: 1
overflow-y: auto}
