.redemer{
    border: none;
    height:600px;
    width:650px;
    border-radius: 10px;
}
h1{
    text-align: center;
    color:rgb(8, 8, 74);
    font-size: 45px;
}
h3{
    color: rgba(41, 41, 170);
}
h2{
    color: rgb(41, 41, 170);
}
   
.navig{
    font-size: 20px;
    color: rgb(41, 41, 170);
}
